.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;

  align-items: center;

  img {
    height: 30px;
    padding: 10px;
  }
}

.main {
  align-items: stretch;
}